@font-face {
  font-family: logoFont;
  src: url(PAC-FONT.TTF);
}

@font-face {
  font-family: myFont;
  src: url(GALS.ttf);
}


/* header & footer  */
#header{
  font-family: logoFont;
  text-emphasis: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: red; */
  color: black;
  text-align: left;
}


.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  /* background-color: red; */
  color: black;
  text-align: center;
}


body{
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 70%;
    font-family: myFont;
    overflow: hidden; 
}

#gif{
  margin-left: 25%;
}

/* divs */
div{
    align-content: center;
}

div.page{
    top: 25%;
    bottom: 15%;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    margin-left: 25%;
    position: absolute;

}

.page.game {
  display: flex;
  margin-top: 7%;
}

div.settings{
  overflow: scroll; 
}

div.game{
  top: 10%;
}


#left {
  flex: 0 0 25%;
}

#right {
  flex: 1;
}

/* navigation bar */
#nav ul{
    position: relative;
    float: left;
    margin-left: 15%;
}


  .button:hover,  input[type=submit]:hover{
    background-color: rgb(168, 39, 39);
    color: white;
  }




  /* form-CSS */

    input[type=submit], button{
    background-color: rgb(107, 107, 107);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 25%;
    width: 50%;
    }

    input[type=text], input[type=email], input[type=date]{
    background-color: aliceblue(107, 107, 107);
    width: 40%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }

    
    label{
      margin-top: 10px;
      margin-left: 25%;
    }

  /* lable errors */
  .error {
    color: red;
  }
  
  label.error {
    display: inline;
  }

  /* end of form css*/

input[type=range], h1, p{
  width: auto;
  margin-left: 25%;
  }

  #scoreLabel, #timeLabel{
    margin-left: auto;
}

#lblScore, #lblTime{
  width: 60%;
}
