body{
    /* text-align: center; */
	/* background-image: url('wallpaper_home.jpg'); */
	/* background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    background-size: 100% 100%; */
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 600px;
 
}
img{
    margin-left: 18%;
}

div{
    align-content: center;
}
div.page{
    top: 10%;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

.gamePage{
  visibility: visible;
}

#nav ul{
    position: relative;
    float: left;
    margin-left: 5%;
    margin-top: 10%;

}



/* .button {
    background-color: rgb(18, 87, 165); 
    color: black; 
    border: 10px solid rgb(0, 0, 0);
    font-size: xxx-large;
  } */
  
  .button:hover,  input[type=submit]:hover{
    background-color: rgb(168, 39, 39);
    color: white;
  }




  /* form-CSS */

    input[type=submit], button{
    background-color: rgb(107, 107, 107);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
      margin-top: 10px;
      width: 100%;
    }

    input[type=text]{
    background-color: aliceblue(107, 107, 107);

    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    }

    
    label{
      margin-top: 10px;
    }

  /* lable errors */
  .error {
    color: red;
  }
  
  label.error {
    display: inline;
  }

  /* end of form css*/



/* header & footer  */
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: red;
      color: white;
      text-align: center;
  }

  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: red;
    color: white;
    text-align: center;
  }

